{
    "singleQuote":true,
    "printWidth": 150,
    "tabWidth": 4,
    "proseWrap": "always",
    "useTabs": false,
    "trailingComma": "none",
    "bracketSpacing": true,
    "jsxBracketSemicolon": false,
    "semi": true
}